.bgm {
  text-align: center;
  background-color: #34383e;
  color: white;
  height: 60px;
  padding: 0 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  margin-top: 10px;
}
.hamburger {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.search-bar input {
  padding: 10px;
  width: 120px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

nav {
  margin-bottom: 0px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
h2 a {
  color: white;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav li {
  margin: 10px 20px 0px 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.movies-container {
  background-color: #282c33;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-cards {
  margin: 5px;
  padding: 50px 60px;
  border-radius: 10px;
  width: 200px;
}
.movie-cards a {
  text-decoration: none;
}
.curser {
  cursor: pointer;
}

.movie-cards img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}

.movie-information {
  text-align: left;
  color: white;
}

@media (max-width: 768px) {
  .bgm {
    padding: 0px;
    height: auto;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .hamburger {
    display: block;
    top: 30px;
    right: 20px;
    position: absolute;
    cursor: pointer;
  }

  nav {
    display: none;
    width: 100%;
  }

  nav.open {
    display: block;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
  }

  .movie-cards {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .bgm {
    height: auto;
    padding: 0px;
  }

  .hamburger {
    display: block;
    top: 30px;
    right: 20px;
    position: absolute;
  }

  .search-bar input {
    width: 70%;
  }

  .search-bar button {
    padding: 8px;
  }

  nav ul li {
    margin: 3px 0;
  }
}
