.maind {
  background-color: #282c33;
}
.topmain {
  padding-top: 20px;
}

.movie-card1 {
  display: flex;
  flex-direction: row;
  background-color: #020b17;
  color: white;
  border-radius: 10px;
  /* padding: 20px; */
  overflow: hidden;
  /* max-height: 50vh; */
  margin: 0 20px;

  /* margin: auto; */
  font-family: "Arial", sans-serif;
}

.movie-details {
  flex: 1;
  padding: 15px;
  /* width: 90%; */
  /* margin-right: 200px; */
  flex-direction: column;
}
.content {
  margin-right: 220px;
}
.content h2 {
  font-size: 24px;
}

.movie-details h2 {
  /* margin: 0 0 10px 0; */
  font-size: 22px;
}

.movie-details p {
  margin: 20px 0;
  font-size: 18px;
  /* width: 50%; */
}

.movie-details h3 {
  margin: 20px 0 10px 0;
  font-size: 22px;
}

.backdrop-image {
  flex: 2;
  width: 600px;
  /* height: auto; */
  border-left: 1px solid #333;
  opacity: 0.7;
}
.poster-image {
  flex: 2;
  width: 400px;
  height: 200px;
  border-left: 1px solid #333;
  margin-right: 20px;
}

.overview {
  width: 90%;
}

.rating {
  font-size: 25px;
  color: #8bb4e3;
}
.time span {
  padding: 5px;
  border: 1px solid #1c2430;
  border-radius: 5px;
}

.cast {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: -20px;
  color: white;
}

.cast-container {
  /* background-color: #282C33; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.cast-cards {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  /* background-color: #1e1e1e; */
  text-align: center;
  color: white;
}

.cast-cards img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: black; /* Added background color for black corners */
}

.cast-information {
  margin-top: 10px;
  font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .cast-cards {
    width: 120px;
    padding: 5px;
  }
  .movie-card1 {
    flex-direction: column;
  }
  .content {
    margin-right: 0px;
  }
  .backdrop-image {
    flex: 2;
    width: 300px;
    /* height: auto; */
    border-left: 1px solid #333;
    opacity: 0.7;
    /* margin-left: 120PX; */
  }
  .poster-image {
    flex: 2;
    width: 100px;
    height: 100px;
    border-left: 1px solid #333;
    margin-right: 20px;
  }
  .movie-details p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .cast-cards {
    width: 100px;
    padding: 5px;
  }
  .movie-card1 {
    flex-direction: column;
  }
  .content {
    margin-right: 0px;
  }
}
